* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*HEADER */
.head-11 {
    background-color: #589CA7;
    height: 100vh;
}

.head-11 a {
    color: #fff;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
}

.price {
    font-size: 45px;
    color: blue;
    font-weight: bold;
}

.card-body h5 {
    text-decoration: underline;
}


.tituloclass {
    text-decoration: underline; 
}

.TituloDepoimentos {
    text-decoration: underline;  
}
